/* TABLET LANDSCAPE */
@media only screen and (max-width: 1200px) {
    html { font-size: 8px; }

    .header__title--primary { width: 77% }
}

/* TABLET PORTRAIT */
@media only screen and (max-width: 900px) {
    html { font-size: 6px; }

    .header { min-height: 150vh;}

    .header__title--primary { width: 86% }
}

/* PHONE */
@media only screen and (max-width: 600px) {
    html { font-size: 5px; }

    .header__title--primary { width: 100% }

    .container { width: 95%; }

    .row { display: block; }

    .section-intro,
    .section-pictures { padding: 8em 0; }

    .section-intro__text,
    .section-pictures__text-wrapper,
    .section-pictures__img { width: 100%; }

    .section-intro__text + .section-intro__text { margin-top: 1em; }

    .section-pictures__text-wrapper { margin-bottom: 3em; }
}
